---
layout: blank.hbs
---


	<c3chart 
		bindto-id="balance-from-current" 
		chart-data="balance.current.points" 
		chart-columns="balance.current.columns"
		sort-data=null>
		<chart-tooltip value-format-function="balance.current.tooltip.value"/>
	</c3chart>

	<div class="center-block contain-button-helper">
		<button class="btn btn-default" data-ng-click="renderGraph(); loading=true;">
			<span data-ng-bind-html='
				loading ? "Reloading&hellip;" : "Reload data <i class=\"glyphicon glyphicon-refresh\"></i>"'>
			</span>
		</button>
	</div>
