---
layout: blank.hbs
---


	<c3chart 
		bindto-id="cash-flow" 
		chart-data="cashflow.points" 
		chart-columns="cashflow.columns"
		chart-x="cashflow.datax[0]"
		sort-data=null>
		<chart-axis>
            <chart-axis-x axis-id="x" axis-type="category">
                <chart-axis-x-tick/>
            </chart-axis-x>
            <chart-axis-y show=false></chart-axis-y>
        </chart-axis>
		<chart-tooltip value-format-function="cashflow.tooltip.value"/>
	</c3chart>

	<div class="center-block contain-button-helper">
		<button class="btn btn-default" data-ng-click="renderGraph(); loading=true;">
			<span data-ng-bind-html='
				loading ? "Reloading&hellip;" : "Reload data <i class=\"glyphicon glyphicon-refresh\"></i>"'>
			</span>
		</button>
	</div>
